In [2]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'PRIO Battle Deaths Dataset 3.0.xls'

# Load spreadsheet: xls
xls = pd.ExcelFile(file)

# Print sheet names
print(xls.sheet_names)

['bdonly']

In [3]:
# Load a sheet into a DataFrame by index: df1
df1 = xls.parse(0)

# Print the head of the DataFrame df1
print(df1.head())

   id  year  bdeadlow  bdeadhig  bdeadbes  annualdata  source  bdversion  \
0   1  1946      1000      9999      1000           2       1          3
1   1  1952       450      3000      -999           2       1          3
2   1  1967        25       999        82           2       1          3
3   2  1946        25       999      -999           0       0          3
4   2  1947        25       999      -999           0       0          3

   location    sidea  ... epend  ependdate ependprec  gwnoa gwnoa2nd  gwnob  \
0   Bolivia  Bolivia  ...     1 1946-07-21     -99.0    145      NaN    NaN
1   Bolivia  Bolivia  ...     1 1952-04-12     -99.0    145      NaN    NaN
2   Bolivia  Bolivia  ...     1 1967-10-16     -99.0    145      NaN    NaN
3  Cambodia   France  ...     0        NaT       NaN    220      NaN    NaN
4  Cambodia   France  ...     0        NaT       NaN    220      NaN    NaN

   gwnob2nd  gwnoloc region  version
0       NaN      145      5   2009-4
1       NaN      145      5   2009-4
2       NaN      145      5   2009-4
3       NaN      811      3   2009-4
4       NaN      811      3   2009-4

[5 rows x 32 columns]

In [5]:
df1.columns

Index(['id', 'year', 'bdeadlow', 'bdeadhig', 'bdeadbes', 'annualdata',
       'source', 'bdversion', 'location', 'sidea', 'sidea2nd', 'sideb',
       'sideb2nd', 'incomp', 'terr', 'int', 'cumint', 'type', 'startdate',
       'startprec', 'startdate2', 'startprec2', 'epend', 'ependdate',
       'ependprec', 'gwnoa', 'gwnoa2nd', 'gwnob', 'gwnob2nd', 'gwnoloc',
       'region', 'version'],
      dtype='object')

In [6]:
# Parse the first sheet and rename the columns: df1
df1 = xls.parse(0, skiprows=[1], names=['id no', 'Year', 'bdeadlow', 'bdeadhig', 'bdeadbes', 'annualdata',
       'source', 'bdversion', 'location', 'sidea', 'sidea2nd', 'sideb',
       'sideb2nd', 'incomp', 'terr', 'int', 'cumint', 'type', 'startdate',
       'startprec', 'startdate2', 'startprec2', 'epend', 'ependdate',
       'ependprec', 'gwnoa', 'gwnoa2nd', 'gwnob', 'gwnob2nd', 'gwnoloc',
       'region', 'version'])

# Print the head of the DataFrame df1
print(df1.head())

   id no  Year  bdeadlow  bdeadhig  bdeadbes  annualdata  source  bdversion  \
0      1  1952       450      3000      -999           2       1          3
1      1  1967        25       999        82           2       1          3
2      2  1946        25       999      -999           0       0          3
3      2  1947        25       999      -999           0       0          3
4      2  1948        25       999      -999           0       0          3

   location    sidea  ... epend  ependdate ependprec  gwnoa gwnoa2nd  gwnob  \
0   Bolivia  Bolivia  ...     1 1952-04-12     -99.0    145      NaN    NaN
1   Bolivia  Bolivia  ...     1 1967-10-16     -99.0    145      NaN    NaN
2  Cambodia   France  ...     0        NaT       NaN    220      NaN    NaN
3  Cambodia   France  ...     0        NaT       NaN    220      NaN    NaN
4  Cambodia   France  ...     0        NaT       NaN    220      NaN    NaN

   gwnob2nd  gwnoloc region  version
0       NaN      145      5   2009-4
1       NaN      145      5   2009-4
2       NaN      811      3   2009-4
3       NaN      811      3   2009-4
4       NaN      811      3   2009-4

[5 rows x 32 columns]

In [9]:
# Parse the first column of the second sheet and rename the column: df1
df1 = xls.parse(0, usecols=[8], skiprows=1, names=['Country'])

# Print the head of the DataFrame df1
print(df1.head())

    Country
0   Bolivia
1   Bolivia
2  Cambodia
3  Cambodia
4  Cambodia